
/* $primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900; */

.blue {   color: #0d6efd;}
.indigo { color: #6610f2;}
.purple { color: #6f42c1;}
.pink {   color: #d63384;}
.red {    color: #dc3545;}
.orange { color: #fd7e14;}
.yellow { color: #ffc107;}
.green {  color: #198754;}
.teal {   color: #20c997;}
.cyan {   color: #0dcaf0;}
.white {  color: #fff;}
.black {  color: #000;}
.gray_400{color: #ced4da;}